[credential]
	credentialStore = secretservice
	helper = 
	helper = /home/joalcava/.dotnet/tools/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = Jose Cardona
[core]
	editor = nvim
[push]
	autoSetupRemote = true
