[user]
	name = Jose Cardona
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
	helper = 
	helper = /usr/local/bin/git-credential-manager-core
	credentialStore = secretservice
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
[push]
	autoSetupRemote = true
